
/* general header definitions */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Montserrat', sans-serif;
  border-bottom: 0.4px solid rgba(128, 128, 128, 0.158);
  padding: 0 1rem;
}

/* logo defintions */

.logo {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.logo img {
  width: 60px;
  margin: .35rem 0;
}

.logo p {
  font-size: x-large;
}

/* links item definitions */

.links {
  display: flex;
  align-items: center;
  gap: 1.67rem;
}

.links ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 1.3rem;
}

/* single item */

.links ul li {
  font-size: 1.1em;
  cursor: pointer;
  color: #8F96DF;
  padding: 10px 10px 5px 10px;
  box-shadow: #8F96DF 0px 1px 4px;
  border-radius: 50%;
  transition: margin 100ms ease-in-out;
}

.links ul li.active {
  color: white;
  background-color: #87A0E4;
  margin-bottom: 10px;
  transition: all 0.3s ease-out;
}

.links ul li.active:hover {
  margin-bottom: 0;
}

.links ul li:hover {
  margin-bottom: 10px;
}

/* user profile-image container wrapper */

.profile-wrapper {
  cursor: pointer;
  display: grid;
  width: fit-content;
  border-radius: 50%;
  font-size: 1.5em;
  background-color: antiquewhite;
}

.profile-wrapper i, .profile-content {
  margin: auto;
  grid-column: 1;
  grid-row: 1;
}

.profile-content {
  width: 47px;
  height: 47px;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
