
/* general header definitions */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Montserrat', sans-serif;
  border-bottom: 0.4px solid rgba(128, 128, 128, 0.158);
  padding: 0 1rem;
}

/* logo defintions */

.logo {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  cursor: pointer;
}

.logo img {
  width: 60px;
  margin: .35rem 0;
}

.logo p {
  font-size: x-large;
}

/* links item definitions */

.links {
  display: flex;
  align-items: center;
  gap: 1.67rem;
}

.links ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 1.3rem;
}

/* single item */

.links ul li .link-icon {
  font-size: 1.1em;
  cursor: pointer;
  color: #8F96DF;
  padding: 10px 10px 5px 10px;
  box-shadow: #8F96DF 0px 1px 4px;
  border-radius: 50%;
  transition: margin 100ms ease-in-out;
}

.links ul li.active .link-icon{
  color: white;
  background-color: #87A0E4;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}
