
/* general header definitions */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-family: 'Montserrat', sans-serif;
  border-bottom: 0.4px solid var(--primary-thin);
  padding: 0 1rem;
}

/* logo defintions */

.logo {
  display: flex;
  align-items: center;
  gap: 0.7rem;

  cursor: pointer;
  color: var(--font-color);
}

.logo img {
  width: 50px;
  margin: .35rem 0;
}

.brand {
  font-size: x-large;
}

/* links item definitions */

.links {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.links ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 1.3rem;
}

/* single item */

.links ul li .link-icon {
  font-size: 1.5em;
  cursor: pointer;
  color: var(--primary-color);

  width: 39px;
  height: 39px;

  border-radius: 50%;
  background-color: var(--icon-background-color);
  transition: margin 100ms ease-in-out;

  display: flex;
  align-items: center;
  justify-content: center;
}

.links ul li.active .link-icon {
  color: white;
  background-color: var(--primary-color);
  box-shadow: var(--primary-color) 0px 0px 5px 0px, var(--primary-color) 0px 0px 1px 0px;
  margin-bottom: 3px;
  transition: all 0.3s ease-in-out;
}

/* add new design button */

.add-new-design {
  width: 40px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: .1px solid var(--icon-background-color);

  font-size: 1.7em;
  padding: .1rem;
  color: var(--primary-color);

  cursor: pointer;
  transition: background-color .3s ease;
}

.add-new-design:hover {
  background-color: var(--icon-background-color);
  transition: background-color .3s ease;
}

/* tooltip definitions */

.links ul li .tooltip {
  position: absolute;
  text-align: center;

  min-width: 130px;
  margin-top: 25px;
  margin-left: -45px;

  padding: .5rem;
  background-color: var(--icon-background-color);
  color: var(--primary-color);
  font-weight: bold;
  border-radius: 5px;
  font-size: .9em;

  user-select: none;
  pointer-events: none;
  opacity: 0;
  z-index: 5;

  transition: opacity .3s ease-out;
}

.links ul li:hover .tooltip {
  opacity: 1;
  transition: opacity .3s ease-in-out;
}

/* navigation-toggle definitions */

.mobile-navigation-toggle {
  font-size: x-large;
  padding: 5px 5px 0 5px;

  color: var(--font-color);
  background: none;
  border: none;
  cursor: pointer;

  display: none;
  align-items: center;
  justify-content: center;
}

.mobile-navigation-toggle:hover {
  opacity: .8;
}

/* header responsiveness */

@media only screen and (max-width: 625px) {
  .mobile-navigation-toggle {
    display: flex;
  }

  .links {
    display: none;
  }
}
