<header>
  <div class="logo">
    <img src="../../../assets/icon.png" alt="DesignX Logo">
    <p>DesignX</p>
  </div>

  <div class="links">
    <ul>
      <li routerLink="/dashboard/home" routerLinkActive="active">
        <i class="fi fi-rr-home"></i>
      </li> <!-- home where feed is loaded -->
      <li routerLink="/dashboard/saved" routerLinkActive="active">
        <i class="fi fi-rr-bookmark"></i>
      </li> <!-- bookmarked or saved -->
      <li routerLink="/dashboard/explore" routerLinkActive="active">
        <i class="fi fi-rr-bulb"></i>
      </li> <!-- bulb or ideas exploring -->
      <li routerLink="/dashboard/gallery" routerLinkActive="active">
        <i class="fi fi-rr-layout-fluid"></i>
      </li> <!-- gallery, your posts.. uploads -->
    </ul>

    <div (click)="showProfileOptions()" class="profile-wrapper">
      <i class="fi fi-rr-user"></i>
      <div class="profile-content" [style.background-image]="'url('+ profileSource +')'"></div>
    </div>
  </div>
</header>

<app-profile-dropdown (dropdownActiveChanged)="profileOptionsChanged($event)" [dropdownActive]="profileOptionsExpanded">
</app-profile-dropdown>
