<!-- render full dashboard only on a main route -->
<div *ngIf="sideRoutes.includes(router.url) else mainRoute">
  <router-outlet></router-outlet>

  <app-toast (showChanged)="toastService.shownChanged($event)" [show]="toastService.isShown"
    [toastType]="toastService.type" [message]="toastService.message" [duration]="toastService.duration"
    [allowManualRemove]="toastService.allowManualRemove">
  </app-toast>
</div>

<ng-template #mainRoute>
  <app-header></app-header>

  <div class="root-main-content">
    <router-outlet></router-outlet>
  </div>

  <app-footer></app-footer>

  <app-toast (showChanged)="toastService.shownChanged($event)" [show]="toastService.isShown"
    [toastType]="toastService.type" [message]="toastService.message" [duration]="toastService.duration"
    [allowManualRemove]="toastService.allowManualRemove">
  </app-toast>
</ng-template>
