<div class="login-wrapper">
  <app-loader [loaderType]="loader" *ngIf="(loadingService.authLoading | async) else loginView"></app-loader>

  <ng-template #loginView>
    <div class="login-container" [class.loaded]="loadedDelayer">

      <div class="logo-presenter">
        <div class="logo"></div>
        <p>DesignX</p>
        <p class="subtitle">Resolve your ideas into reality.</p>
      </div>

      <form (ngSubmit)="login()" #loginForm="ngForm">
        <input type="text" name="usernameOrEmail" placeholder="Email or username" required ngModel>

        <div class="password-input">
          <input type="{{ showPassword ? 'text' : 'password' }}" name="password" placeholder="Password" required
            ngModel>

          <div (click)="showPassword = !showPassword" class="password-visibility-toggler">
            <i [ngClass]="showPassword ? 'ri-eye-off-line' : 'ri-eye-line'"></i>
          </div>
        </div>

        <app-checkbox (checkedValue)="rememberMeChanged($event)">Keep me logged in.</app-checkbox>
        <app-validation-feedback-label [showError]="isError">{{ errorMessage }}</app-validation-feedback-label>


        <button class="primary-button">Login</button>
      </form>

      <a class="link" routerLink="/authenticate/register">Don't have an account yet? <br> Create one!</a>
    </div>
  </ng-template>
</div>
