
.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
}

/* content wrapper and login container definitions */

.login-container {
  width: 365px;
  background-color: var(--background-color);

  border: .1px solid var(--gray-outline-color);
  border-radius: 10px;
  padding: 1.5rem;

  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2.6rem;

  opacity: 0;
  margin-top: 30%;
}

.login-container.loaded {
  opacity: 1;
  margin-top: 0;

  transition: opacity .5s ease, margin 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/* top presenter related styling */

.logo-presenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
  user-select: none;
  color: var(--font-color);
}

.logo-presenter .logo {
  width: 130px;
  height: 130px;
  background-image: url('/assets/icon.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.logo-presenter p {
  font-size: 1.9em;
}

.logo-presenter .subtitle {
  font-size: 1em;
  text-align: center;
}

/* form definitions */

.login-container form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: .7rem;
}

/* password visibility toggle */

.login-container form .password-input {
  display: flex;
  align-items: center;
  justify-content: right;
}

.login-container form .password-input input {
  position: relative;
  font-family: 'Source Code Pro', monospace;
  width: 100%;
}

.login-container form .password-input .password-visibility-toggler {
  background-color: var(--background-color);
  cursor: pointer;
  width: 25px;
  height: 25px;
  font-size: 23px;
  position: absolute;
  margin-right: .5rem;
  color: var(--gray-color);
}

/* validation label adjustment */

.login-container form app-validation-feedback-label {
  margin: .4rem 0;
}

/* media queries and responsiveness targeting */

@media only screen and (max-width: 435px) {
  .login-container {
    border: none;
    height: 85vh;
  }
}
