<div class="modal-cropper-wrapper" [class.active]="modalShown">
  <div class="modal-cropper-container">
    <div class="info">
      <h3>
        {{ cropperTitle }}
      </h3>
      <p>Just drag and or select the part of your image in the circle below.</p>
    </div>

    <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="1"
      [resizeToWidth]="256" [cropperMinWidth]="356" [roundCropper]="true" (imageCropped)="cropped($event)"
      (cropperReady)="cropperReady()">
    </image-cropper>

    <div class="actions">
      <button class="border-button" (click)="cancelAction()">Cancel</button>
      <button class="primary-button" (click)="proceedAction()">Look's Good!</button>
    </div>
  </div>
</div>
