<div class="modal-cropper-wrapper" [class.active]="modalShown">
  <div class="modal-cropper-container">
    <div class="info">
      <h3>
        {{ cropperTitle }}
      </h3>
      <p>Just drag and or select the part of your image in the circle below.</p>
    </div>

    <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="1"
      [resizeToWidth]="256" [cropperMinWidth]="356" [roundCropper]="true" (imageCropped)="cropped($event)"
      (cropperReady)="cropperReady()">
    </image-cropper>

    <div class="actions">
      <button class="icon-button border" (click)="cancelAction()">
        <i class="ri-close-line"></i>
      </button>

      <button class="icon-button" (click)="proceedAction()">
        <i class="ri-check-line"></i>
      </button>
    </div>
  </div>
</div>
