
.profile-wrapper {
  display: grid;
  width: fit-content;
  border-radius: 50%;
}

.profile-wrapper i, .profile-content {
  margin: auto;
  grid-column: 1;
  grid-row: 1;
  color: black;
}

.profile-content {
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.profile-content.pointer {
  cursor: pointer;
}

/* edit panel */

.edit-panel {
  margin: auto;
  grid-column: 1;
  grid-row: 1;

  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.234);

  display: flex;
  align-items: center;
  justify-content: space-around;

  pointer-events: none;
  opacity: 0;

  transition: opacity .4s ease-out;
}

.profile-wrapper:hover .edit-panel {
  pointer-events: all;
  opacity: 1;

  transition: opacity .2s ease-in;
}

/* action inside of panel button */

.edit-action {
  margin: 1rem;
  background-color: var(--primary-color);
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;
  cursor: pointer;
  font-size: 1.2em;
}

.edit-action i {
  color: var(--background-color);
}

.edit-action:hover {
  background-color: var(--primary-hover);
  transition: background-color .2s ease;
}
