* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* light */

:root {
  --primary-color: #87A0E4;
  --primary-thin: #87a0e422;
  --primary-hover: #7d94d2;

  --gray-color: rgba(128, 128, 128, 0.704);
  --gray-outline-color: rgba(128, 128, 128, 0.233);

  --primary-valid: rgb(115, 203, 48);
  --primary-warning: rgb(255, 201, 94);
  --primary-error: rgb(228, 121, 121);

  --primary-valid-background: rgba(115, 203, 48, 0.1);
  --primary-warning-background: rgb(255, 201, 94, 0.1);
  --primary-error-background: rgb(228, 121, 121, 0.1);

  --font-color: black;

  --background-color: white;

  --icon-background-color: #e6e6fa;
  --icon-background-color-hover: #e6e6fa9c;

  --scrollbar-track-color: #f1f1f1;
  --scrollbar-thumb-color: rgb(192, 192, 192);
  --scrollbar-thumb-color-hover: rgb(179, 179, 179);

  --input-placeholder-color: var(--gray-color);
}

/* dark */

// :root {
//   --primary-color: #87A0E4;
//   --primary-thin: #87a0e422;
//   --primary-hover: #7d94d2;

//   --gray-color: rgba(128, 128, 128, 0.704);
//   --gray-outline-color: rgba(55, 79, 157, 0.233);

//   --primary-valid: rgb(115, 203, 48);
//   --primary-warning: rgb(255, 201, 94);
//   --primary-error: rgb(228, 121, 121);

//   --primary-valid-background: rgba(115, 203, 48, 0.1);
//   --primary-warning-background: rgb(255, 201, 94, 0.1);
//   --primary-error-background: rgb(228, 121, 121, 0.1);

//   --font-color: white;

//   --background-color: #091828;

//   --icon-background-color: rgba(0, 0, 0, 0.152);
//   --icon-background-color-hover: rgba(0, 0, 0, 0.12);

//   --scrollbar-track-color: #87a0e422;
//   --scrollbar-thumb-color: #87A0E4;
//   --scrollbar-thumb-color-hover: #7d94d2;

//   --input-placeholder-color: #3e455a;
// }

/* scrollbar styling */

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-track-color);
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-color);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-color-hover);
}

body {
  background-color: var(--background-color);
  overflow-x: hidden;
}

/* global inputs */

input {
  padding: .8rem 1rem;
  font-family: 'Montserrat', sans-serif;
  border: 1px solid var(--gray-outline-color);
  background: none;
  border-radius: 5px;
  font-size: 1em;
  color: var(--font-color);

  transition: border .3s ease;
}

input:focus {
  outline: none;
}

input::placeholder {
  color: var(--input-placeholder-color);
}

input.ng-touched.ng-invalid {
  border: 1px solid var(--primary-error);
  transition: border .3s ease;
}

/* global buttons */

.primary-button {
  cursor: pointer;
  border: none;
  background-color: var(--primary-color);
  border-radius: 8px;
  padding: .8rem;
  font-size: 1.1em;
  color: var(--background-color);
  min-width: 100px;
}

.primary-button:hover {
  outline: none;
  background-color: var(--primary-hover);

  transition: background-color .2s ease, color .3s ease;
}

/* border button definitions */

.border-button {
  cursor: pointer;
  border: 1px solid var(--primary-color);
  border-radius: 8px;
  padding: .8rem;
  font-size: 1.1em;
  color: var(--primary-color);
  background: none;
  min-width: 100px;
}

.border-button:hover {
  outline: none;
  opacity: 0.7;

  transition: opacity .2s ease, color .3s ease;
}

/* global light danger button */

.light-danger-button {
  color: var(--primary-error);
  background-color: var(--icon-background-color-hover);
  border: 2px solid var(--icon-background-color);
  border-radius: 10px;
  padding: .7rem 1rem;
  cursor: pointer;
  font-size: 1em;

  transition: opacity .2s ease;
}

.light-danger-button:hover {
  opacity: .9;
  transition: opacity .2s ease;
}

/* text area definitions */

textarea {
  font-family: 'Montserrat', sans-serif;
  padding: .8rem 1rem;
  border: 1px solid var(--gray-outline-color);
  border-radius: 5px;
  font-size: 1em;
  resize: none;
  transition: border .3s ease;
  color: var(--font-color);
  background: none;
}

textarea:focus {
  outline: none;
}

textarea::placeholder {
  color: var(--input-placeholder-color);
}

textarea::-webkit-scrollbar {
  width: 4px;
}

textarea::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 0 5px 5px 0;
}

textarea::-webkit-scrollbar-thumb {
  background: rgb(192, 192, 192);
  border-radius: 5px;
}

textarea::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}

/* global anchor tag style */

.link {
  text-align: center;
  font-size: 0.88em;
  color: var(--primary-color);
  text-decoration: none;
}

.link:hover {
  text-align: center;
  text-decoration: underline;
  color: var(--primary-hover);
}

/* global decorated section title */

.decorated-section-title {
  display: flex;
  align-items: center;
  gap: .5rem;

  font-size: large;
  font-family: 'Heebo', sans-serif;
  color: var(--primary-color);
}

.decorated-section-title i {
  font-size: 1.3em;
}

/* global cropper definitions and refinements */

/* [!important] disadvised to use, but in this case we have to force it for the changes to take effect on the library component */

image-cropper {
  padding: 10px 10px 7px 10px !important;
  border-radius: 3px !important;
}

.ngx-ic-overlay {
  border-radius: 5px !important;
}

.ngx-ic-cropper.ngx-ic-round {
  color: var(--primary-color) !important;
}

.ngx-ic-resize .ngx-ic-square {
  background-color: var(--primary-color) !important;
}

.ngx-ic-move {
  border: 1px solid var(--primary-color) !important;
}

.ngx-ic-cropper {
  border: 1px solid var(--primary-color) !important;
}

.ngx-ic-overlay {
  outline: var(--background-color) solid 100vw !important;
}
