<div (click)="closeDropdown()" [class.active]="dropdownActive" class="dropdown-backdrop"></div>

<!-- dropdown content -->
<div class="dropdown-wrapper" [class.active]="dropdownActive">

  <div class="account-info-wrapper">
    <app-profile-presenter [size]="65"></app-profile-presenter>

    <div class="info">
      <h4>{{ user.firstname | fullname:user.lastname }}</h4>
      <p>{{ user.username }}</p>
    </div>
  </div>

  <div class="options">
    <div class="seperator"></div>

    <div routerLink="/user/account" (click)="closeDropdown()" class="dropdown-item">
      <i class="fi fi-rr-user"></i>
      <p>My Profile</p>
    </div>

    <div routerLink="/user/settings" (click)="closeDropdown()" class="dropdown-item">
      <i class="fi fi-rr-settings"></i>
      <p>Settings</p>
    </div>

    <div class="seperator"></div>

    <div (click)="closeDropdown()" class="dropdown-item">
      <i class="fi fi-rr-sign-out-alt"></i>
      <p>Logout</p>
    </div>
  </div>
</div>
