
.dropdown-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  pointer-events: none;
}

.dropdown-wrapper {
  font-family: 'Montserrat', sans-serif;
  padding: .3rem;
  margin: .7rem .5rem 0 0;

  width: 270px;
  position: absolute;
  border-radius: 5px;
  top: 70px;
  right: 0;
  background-color: var(--background-color);
  // box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  border: 1px solid var(--gray-outline-color);

  pointer-events: none;
  opacity: 0;
  transition: opacity 100ms ease-out;
}

.dropdown-wrapper .options {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .2rem;
}

.dropdown-wrapper .options .dropdown-item {
  display: flex;
  align-items: center;
  width: 100%;
  color: var(--font-color);

  gap: .8rem;
  padding: 0.5rem 0.5rem;

  font-size: .97em;
  border-radius: 5px;
  cursor: pointer;
}

.dropdown-wrapper .options .dropdown-item:hover {
  background-color: rgba(128, 128, 128, 0.087);
}

.dropdown-wrapper .options .seperator {
  width: 97%;
  border-top: 0.4px solid var(--gray-outline-color);
}

.dropdown-wrapper .options .dropdown-item i {
  background-color: var(--icon-background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  color: var(--primary-color);

  border-radius: 50%;
  font-size: 24px;
}

.dropdown-backdrop.active, .dropdown-wrapper.active {
  pointer-events: all;
  opacity: 1;
  transition: opacity 50ms ease-in;
}

/* account info wrapper definitions */

.account-info-wrapper {
  margin: .5rem;
  color: var(--font-color);
}

.account-info-wrapper .info {
  margin: .7rem 0 1rem 0;
}

.account-info-wrapper .info p {
  font-size: 0.9em;
  opacity: .6;
}
